*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: sticky;
}

img{
   height: 100%;
   max-height: 700px;
   width: 100%;
   max-width: 500px;
   border-radius: .5rem;
    
}

/*or instead of nth-child i can do the name of classes which one  two three and four*/


/*
section:nth-child(1){
    background-color: rgb(54, 168, 200);
}


section:nth-child(2){
    background-color: rgb(171, 188, 144);
}

section:nth-child(3){
    background-color: rgb(36, 185, 226);
}

section:nth-child(4){
    background-color:rgb(213, 170, 28); 
}
*/


.one{
    background-color: rgb(54, 168, 200);
}

.two{
    background-color: rgb(171, 188, 144);;
}
.three{
    background-color: rgb(36, 185, 226);
}
.four{
    background-color: rgb(213, 170, 28); 
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) /2);
}

.left-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #000;
    padding: 0 2rem;
}

.left-side h1{
    font-size: 2.5rem;
    padding:1rem 2rem;
    color: #fff;
}
.left-side p{
    font-size: 3rem;
    padding: 1rem 2rem;
    color: #fff;
}

.left-side button{
    padding: 1rem 1.5rem;
    border:none;
    border-radius: 3rem;
    margin: 1rem 2rem;
    font-size: 1rem;
    background-color: rgb(30, 151, 184);
    cursor: pointer;
    color: #fff;
    transition: 1s ease-out ;
}

button:hover{
background-color: #fff;
color: rgb(30, 151, 184);
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}



@media screen and (max-width:768px) {

    .container{
        grid-template-columns: 1fr;
    }
    
}